<%- include('partials/header.ejs') %>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <span class="navbar-brand">
                    <img
                        src="/images/IGDBSearchLogo.svg"
                        alt=""
                        width="30"
                        height="24"
                    />
                    Welcome to the CMP Internet Game Database Search Page!
                </span>
            </div>
        </nav>
        <header>
            <div class="container">
                <div class="row">
                    <h1>Games!!!!!</h1>
                </div>
                <div class="row">
                    <form method="GET" action="./">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control form-control-lg"
                                placeholder="search"
                                id="searchtext"
                                name="like"
                                value="<%= search %>"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary btn-lg rounded-right"
                                    type="submit"
                                    id="searchbtn"
                                >
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <div class="container" id="results">
            <% for(game of gameData) { %>
            <div class="card" data-game-id="<%=game.game_id%>">
                <div class="row">
                    <div class="col-md-2">
                        <img
                            src="<%=game.cover.replace('t_thumb', 't_1080p')%>"
                            class="card-img"
                            alt="..."
                        />
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title"><%=game.name%></h5>
                            <p class="card-text"><%=game.summary%></p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
<%- include('partials/footer.ejs') %>
